// fontfaces
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

// override default browser rules
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

// custom scrollbar
::-webkit-scrollbar {
    width: 5px;
    background-color: inherit;
    
    &-thumb {
        border-radius: 50px;
    }
}

// colors
$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); //(graphic design text)
$Dark-blue: hsl(198, 62%, 26%); //(photography text)
$Dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// all headings have a diff font 
.heading {
    font-family: 'Fraunces', serif;
}

// contain site content to 15 inch laptop screen
.container {
    max-width: 1200px;
    margin: 0 auto;
    
    @media only screen and (max-width: 1250px) {
    }

    @media only screen and (max-width: 600px) {
    }
}

// functions for layout
@mixin flex($align:center, $justify:center, $direction:row, $wrap: wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin grid($columns:center, $gap:20px) {
    display: grid;
    grid-template-columns: $columns;
    grid-gap: $gap;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

p {
    line-height: 1.4;
    font-size: 16px;
}


%error {
    display: inline-block;
    background-color: orangered;
    color: rgb(163, 172, 181);
    border-radius: 5px;
    padding: 10px;
}

%success {
    @extend %error;
    // override colors
    background-color: darkcyan;
    color: #333;
}
