@import './config';

header {
    background-image: url('../images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    padding: 20px;
    height: 90vh;

    .top-panel {
        @include flex($justify:space-between);
        margin-bottom: 80px;

        .hamburger {
            display: none;
            cursor: pointer;

            @media only screen and (max-width: 700px) {
                display: block;
            }
        }

        nav {
            a {
                display: inline-block;
                margin-right: 40px;
                color: $White;
            }

            .btn {
                margin: 0;
                border-radius: 30px;
                padding: 15px 30px;
                background-color: $White;
                color: $Very-dark-desaturated-blue;
                transition: all 0.3s ease;                

                &:hover {
                    background-color: rgba(0, 221, 255, 0.682);
                    color: $White;
                }
            }

            @media only screen and (max-width: 700px) {
                display: none;
            }
        }

        @media only screen and (max-width: 800px) {
            margin-bottom: 150px;
        }
    }

    .text {
        text-align: center;

        h1 {
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-bottom: 30px;
            color: $White;
        }
    }
}


.menu {
    background-color: $White;
    border-radius: 10px;
    padding: 100px 0;
    position: fixed;
    left: 10%;
    top: 10%;
    z-index: 3;
    width: 80%;
    transition: all 0.5s ease;
    transform: translateY(-150%);
    opacity: 0;

    &.open {
        transform: translateY(0);
        opacity: 1;
    }
    
    .container {
        @include flex($direction:column);
    }

    a {
        display: inline-block;
        margin-bottom: 30px;
        color: $Very-dark-grayish-blue;
    }

    .btn {
        margin: 0;
        border-radius: 30px;
        padding: 15px 30px;
        background-color: $Yellow;
        transition: all 0.3s ease;                

        &:hover {
            background-color: rgba(0, 221, 255, 0.682);
            color: $White;
        }
    }
}


.features {
    @include grid(repeat(2, 1fr), 0px);

    img {
        display: block;
        width: 100%;
    }

    .egg {
        @media only screen and (max-width: 800px) {
            grid-row: 1/2;
        }    
    }

    .text {
        align-self: center;
        padding: 0 100px;

        .heading {
            color: $Very-dark-desaturated-blue;
        }
        
        p {
            margin: 40px 0;
            color: $Very-dark-grayish-blue;

            @media only screen and (max-width: 960px) {
                margin: 20px 0;
            }
        }

        @media only screen and (max-width: 1000px) {
            padding: 0 50px;
        }

        @media only screen and (max-width: 960px) {
            padding: 40px;
        }

        @media only screen and (max-width: 800px) {
            padding: 100px;
        }

        @media only screen and (max-width: 600px) {
            padding: 50px;
        }

        @media only screen and (max-width: 450px) {
            padding: 50px 20px;
        }
    }

    .service {
        position: relative;

        img {
            opacity: 0.7;
        }

        &.a {
            color: $Dark-desaturated-cyan;
        }
        &.b {
            color: $Dark-blue;
        }

        div {
            position: absolute;
            bottom: 50px;
            padding: 0 100px;
            text-align: center;

            .heading {
                margin-bottom: 40px;

                @media only screen and (max-width: 1060px) {
                    margin-bottom: 20px;
                }

                @media only screen and (max-width: 450px) {
                    margin-bottom: 10px;
                }
            }

            @media only screen and (max-width: 1060px) {
                padding: 0 50px;                
            }

            @media only screen and (max-width: 860px) {
                padding: 0 20px;
                bottom: 30px;
            }

            @media only screen and (max-width: 800px) {
                padding: 0 100px;
            }

            @media only screen and (max-width: 520px) {
                padding: 0 30px;
            }

            @media only screen and (max-width: 450px) {
                bottom: 20px;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        @include grid(1fr, 0px);
    }
}

// testimonials
.testimonials {
    text-align: center;
    padding: 100px 0;

    h4 {
        margin-bottom: 50px;
        color: $Very-dark-grayish-blue
    }
    

    .container {
        @include grid(repeat(3, 1fr), 50px);

        .card {
            .photo {
                overflow: hidden;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin: 0 auto;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .heading {
                color: $Very-dark-desaturated-blue;
                display: inline-block;
                margin-bottom: 5px;
            }

            p {
                margin: 40px 0;
                color: $Very-dark-grayish-blue;

                @media only screen and (max-width: 900px) {
                    margin: 20px 0;
                }
            }

            .title {
                font-size: 12px;
                color: $Very-dark-grayish-blue;
                opacity: 0.5;
            }

            @media only screen and (max-width: 900px) {
                padding: 0 100px;
            }

            @media only screen and (max-width: 560px) {
                padding: 0 50px;
            }

            @media only screen and (max-width: 400px) {
                padding: 0 20px;
            }
        }

        @media only screen and (max-width: 900px) {
            @include grid(1fr, 50px);
        }
    }
}

// gallery
.gallery {
    @include grid(repeat(4, 1fr), 0px);

    img {
        display: block;
        width: 100%;
    }

    @media only screen and (max-width: 800px) {
        @include grid(repeat(2, 1fr), 0px);
    }
}


footer {
    text-align: center;
    padding: 100px 0;
    background-color: $Dark-moderate-cyan;

    .nav {
        margin: 50px 0;
        
        a {
            display: inline-block;
            font-size: 16px;
            color: $Dark-desaturated-cyan;
            opacity: 0.7;

            &:nth-of-type(2) {
                margin: 0 50px;

                @media only screen and (max-width: 350px) {
                    margin: 0 20px;
                }
            }

        }
    }

    .social {
        i {
            color: $Dark-desaturated-cyan;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            margin-right: 50px;

            &:last-child {
                margin: 0;
            }
        }
    }
}